name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      # 1) checkout code
      - name: Check out repository
        uses: actions/checkout@v3

      # 2) login to GitHub Container Registry
      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 3) build the container
      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/html-openshift-app:v1 .

      # 4) push the container
      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/html-openshift-app:v1
          oc rollout restart deployment/html-openshift-app
