name: Build and Deploy to OpenShift

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: alessandrodogeee
          password: ${{ secrets.DOCKER }}

      - name: Build Docker image
        run: |
          IMAGE_TAG=${{ github.sha }}
          docker build -t ghcr.io/alessandrodogeee/html-openshift-app:${IMAGE_TAG} .

      - name: Push Docker image
        run: |
          IMAGE_TAG=${{ github.sha }}
          docker push ghcr.io/alessandrodogeee/html-openshift-app:${IMAGE_TAG}

      - name: Install oc
        run: |
          curl -L https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/latest/openshift-client-linux.tar.gz -o oc.tar.gz
          tar -xzf oc.tar.gz
          sudo mv oc /usr/local/bin/

      - name: Login to OpenShift
        run: |
          oc login --token=${{ secrets.openshift_token }} --server=https://api.exoscale-ch-gva-2-0.appuio.cloud:6443

      - name: Update Deployment Image
        run: |
          IMAGE_TAG=${{ github.sha }}
          oc set image deployment/html-openshift-app \
            html-openshift-app=ghcr.io/alessandrodogeee/html-openshift-app:${IMAGE_TAG}
          oc rollout status deployment/html-openshift-app
